@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

/* ==============================================
   COLORS
   ============================================== */

   .jumbotron {
    background-color:#E23B3B;
    }

   .fm_color {
    color: #E23B3B;
    }

    .flowerboy_color {
        color: #F9911E;
    }

    .saturation_color {
        color: #0D7CCD;
    }

    .malibu_color {
        color: #C73120;
    }

    .flowerboy, .flowerboy:active {
        background-color: #f9911e;
    }

    .saturation, .saturation:active {
        background-color: #0d7ccd;
    }

    .malibu, .malibu:active {
        background-color: #c73120;
    }

    a:hover, a:active, a:focus {
        color: white;
    }

    .artist_website a:hover {
        color: black;
    }
    

/* ==============================================
   GLOBAL STYLES
   ============================================== */

    body {
        height: 100vh;
        font-family: 'Open Sans', sans-serif;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        min-height: 0;
        padding: 0px 20px;
    }    

    .container-fluid, .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
        justify-content: center;
        margin-right: -20px;
        margin-left: -20px;
    }

    a.company_logo {
            display:block;
            background-image: url("../assets/images/FM_white_black.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 200% 100%;
            overflow:hidden;
            text-indent:-9999px;
            line-height: 50px;
        }

    .jumbotron {
        margin-bottom: 20px;;
    }

    .FM_small {
        height: 35px;
        margin: 20px;
    }

    .cover {
        width: inherit;
        margin-top: 20px;
    }

    .cover_mini {
        width: 33%;
        float: left;
        margin: 0 20px 20px 0;
    }

    .no-padding {
        padding-right: 0;
        padding-left: 0;
    }

    i {
        height: 20px;
        width: 20px;
        display: inline-block;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 20px;
    }

    .btn, .btn:active {
        width: 100%;
        border-radius: 0;
        border: 0px;
        color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center;

    }

    .btn:focus {
        box-shadow: none;
    }

    a.btn {
        font-size: 15px;
        line-height: 2em;
        text-align: left;
    }


    .triangles_right {
        background-image: url("../assets/images/triangles_right.png");
        background-position: center center;
    }

    .triangles_down {
        background-image: url("../assets/images/triangles_down.png");
        background-position: center center;
    }

    .triangles_left {
        background-image: url("../assets/images/triangles_left.png");
        background-position: center center;
    }

    .tracklist {
        display: block;
        clear: both;
    }

    .support {
        margin: 0 -20px 20px;
        color: white;
        justify-content: center;
        padding: 0;
    }


    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25vh;
        background-color: black;
        color: white; 
    }

    .footer p {
        font-size: 10px;
    }

    div.footer div img {
        margin: 0;
        height: 20px;
    }

    .artist_website {
        padding-bottom: 20px;
    }

    .album_title {
        margin-top: 20px;
    }

    .text-center {
        justify-content: center;
    }

    .collapse .row:first-child, .collapsing .row:first-child {
        margin-top: 20px;
    }

    table {
        margin-bottom: 20px;
    }
    
    td:last-child {
        width: 100%;
        padding-left: 20px;
    }


    /* Typography */

    h1 {
        font-weight: 700;
        font-size: 28px;
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
    }

    h3 {
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
        margin-bottom:0;
    }

    p {
        font-size: 18px;
        line-height: 20pt;
        margin-bottom: 20px;
    }

    em {
        font-weight: 700;
        font-style: normal;
    }

    table {
        font-size: 18px;
    }

    

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    a.company_logo {
        line-height: 80px;
    }
    
    .collapse {
        justify-content: center;
    }

    .collapse .row div:nth-child(-n+1) {
        margin-top: 20px;
    }

    .collapse .row:first-child {
        margin-top: 0;
    }

    p, table {
        font-size: 16px;
    }

}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}