@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    min-height: 0;
}    

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    justify-content: center;
}

a.company_logo {
        display:block;
        background-image: url("../assets/images/FM_white_black.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200% 100%;
        overflow:hidden;
        text-indent:-9999px;
        line-height: 50px;
    }

.jumbotron {
    background-color:#E23B3B;
    margin-bottom: 20px;
}

.FM_small {
    height: 35px;
    margin: 20px; 0;
}

h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom:0;
}

p {
    font-size: 18px;
    line-height: 20pt;
    margin-bottom: 20px;
}

em {
    font-weight: 700;
    font-style: normal;
}

.fm_color {
    color: #E23B3B;
}

.flowerboy_color {
    color: #F9911E;
}

.saturation_color {
    color: #0D7CCD;
}

.malibu_color {
    color: #C73120;
}

.cover {
    width: inherit;
    margin-top: 20px;
}

.cover_mini {
    width: 33%;
    float: left;
    margin: 0 20px 20px 0;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.fill {
    height: 100%;
    min-height: 100%;
}


.triangle_down {
    background-image: url("../assets/images/triangle_down.png");
    background-position: center center;
}

i {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 40px;
}

.test6 div:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }

.btn, .btn:active {
    width: 100%;
    border-radius: 0;
    border: 0px;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;

}

.btn:focus {
    box-shadow: none;
}

.flowerboy, .flowerboy:active {
    background-color: #f9911e;
}

.saturation, .saturation:active {
    background-color: #0d7ccd;
}

.malibu, .malibu:active {
    background-color: #c73120;
}

a:hover, a:active, a:focus {
    color: white;
}

.artist_website a:hover {
    color: black;
}
a.btn {
    font-size: 15px;
    line-height: 2em;
    text-align: left;
}


.triangles_right {
    background-image: url("../assets/images/triangles_right.png");
    background-position: center center;
}

.triangles_down {
    background-image: url("../assets/images/triangles_down.png");
    background-position: center center;
}

.triangles_left {
    background-image: url("../assets/images/triangles_left.png");
    background-position: center center;
}

ol {
    padding-left: 20px;
}

li {
    padding-left: 20px;
}

.tracklist {
    display: block;
    clear: both;
}

.support {
    margin: 0 -20px 20px;;
    color: white;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: black;
    color: white; 
}

.footer p {
    font-size: 10px;
}

div.footer div img {
    margin: 0;
    height: 20px;
}

.artist_website {
    padding-bottom: 20px;
}

.artist_info {
    padding-top: 20px;
}

.album_title {
    margin-top: 20px;
}